.title {
  padding-top: 30px;
  text-align: center;
  font-size: 30px;
}

.tile {
  padding: 20px;
  text-align: center;
}

.tile img{
  height: 200px;
  margin: 20px 0;
}

.container.row {
  background-color: lightgrey;
}

.tile p {
  padding: 0 5px;
  margin: 5px 0;
}
